<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Listado de Noticias</title>
    
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/theme.css}" rel="stylesheet">
    
  </head>

  <body>

    <!-- Fixed navbar -->
    <header th:insert="~{fragments/menu :: menu-principal}"></header>


    <div class="container theme-showcase" role="main">

      <h3>Listado de Usuarios</h3>
        <a th:href="@{/usuarios/create}" class="btn btn-success" role="button" title="Nueva usuario" >Nueva</a><br><br>
    <div th:if="${msg != null} "th:text="${msg}" class="alert alert-success" role="alert"></div>
      

      <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th>Id</th>
                <th>Cuenta</th>             
                <th>Estado</th>              
                <th>Email</th>              
                <th>Telefono</th>              
            </tr>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.cuenta}"></td>
                <td>
                    <span th:if="${usuario.activo} == '1'" class="label label-success">Activa</span>
                    <span th:if="${usuario.activo} == '0'" class="label label-danger">Inactiva</span>
                </td>              
                <td  th:text="${usuario.email}"></td>
                <td  th:text="${usuario.telefono}"></td>
                <td>
                  <a th:href="@{/usuarios/delete/{id}(id=${usuario.id})}" onclick=' return confirm("¿estas seguro?") ' class="btn btn-danger btn-sm" role="button" title="Eliminar" ><span class="glyphicon glyphicon-trash"></span></a>
              </td>
            </tr>    
        </table>
      </div>  
      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer th:insert="~{fragments/footer :: footer}"></footer>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>
